<html>
    <head>
        <title>ML_MODEL</title>
    </head>

    <body style="background-color:blue">
        <div >
        <br><br>
        <h1 style="text-align:center"> MACHINE LEARNING PREDICTION</h1>
        </div>

        <center>
        <form method='POST', action="{{url_for('home')}}">
            <b>
                <br><br>
                BRAIN SIZE : <input type='text' id='size' name='size'><br><br>
            </b>
            <input type='submit', value='predict'>
            
        </form>
    </center>
    </body>

</html>